p{ <!--  element selector -->
    font-size: 16px;
    color: red
}
#heading-one{ <!--  id selector -->
    font-size: 50px;
    color: chartreuse
}

.text-hightlight{ <!--  class selector -->
    background-color: black;
}

*{ <!--  universal selector -->
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1.5;
}